<%- include('layout', { body: `
  <h1>About DealX</h1>
  <p>DealX is a student-first marketplace to help reuse and reduce cost of college essentials.</p>
  <h3>Vision</h3><p>To make education affordable by encouraging reuse.</p>
` }) %>